:root {
    --btn:#3f331eb9;
    --beige: #bbac7d;
    --light:rgb(250, 247, 238);
    --shadow:rgba(0, 0, 0, 0.452);
  }

*{
    margin: 0;
    padding: 0;
    font-family: 'Amiri', serif;
    font-weight: 600;
}

.background {
    position: relative; 
    min-height: 100vh;
    width: 100%;
    background-image: url(/img/background.jpg);
    background-size: cover;
    display: flex;
    background-position: center;
    flex-direction: column;
    background-repeat: no-repeat;
  }

.background:before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.811);
}

.content {
    position: relative;
  }

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 35px;
    background-color: var(--shadow);
}

#logo{
    height: 50px;
}

button{
    color: var(--light);
    background-color: var(--btn);
    height: 34px;
    cursor: pointer;
    border: none;
    border-radius: 6px;
}

button:hover{
    background-color: var(--beige);
}

#home-btn{
    color: var(--beige);
    font-size: 1.1rem;
    display: none;
}

.nav-links{
    display: flex;
    gap: 35px;
}
.nav-links a{
    text-decoration: none;
    color: var(--beige);
}
.nav-links a:hover{
    color: var(--light);
}
#home-btn:hover{
    color: var();
}

#name{
    width: 80%;
    max-width: 700px;
    min-width: 100px; 
} 

h1{
    color: #bbac7d;
    font-size: 1.7rem;
    display: inline;
}

.inner-welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome, .mashaaer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 75vh;
}

.welcome{
    gap: 10vw;
}

.mashaaer{
    gap: 25vw;
}

.place-mashaaer{
    font-size: 6rem;
}

.btns{
    width: 25vw;
    min-width: 100px;
    background-color: rgba(0, 0, 0, 0.452);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 0 10px;
    padding: 50px 0;
}

.btns button{
    font-size: 1.1rem;
    width: 20vw;
    height: 10vh;
}

.place-btn{
    font-size: 1.4rem;
}

.btns i{
    font-size: 1.2rem;
    color: var(--light);
    padding: 0 7px;
}

footer{
    background-color: rgba(0, 0, 0, 0.452);
    width: 100%;
    margin-top: auto;
    color: #bbac7d;
    z-index: 5;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 16px;
    display: none;
}

.contact i{
    color: #bbac7d;
    padding: 0 5px;
}

.contact i:hover{
    color: rgb(250, 247, 238);
}


/* makkah */
.place-title{
    font-size: 4rem;
    display: flex;
    justify-content: center;
    padding-top: 4vh;
}
.place{
    display: flex;
    justify-content: center;
    padding-top: 6vh;
    font-size: 1.9rem;
    padding-bottom: 2vh;
}

.link-container{
    padding: 22px 22px 0 22px;
}

.links{
    display: flex;
    justify-content: end;
    gap: 5px;
}

.links button{ 
    border-radius: 10px 10px 0 0;
    transition: .3s;
    font-size: 1rem;
    width: 200px;
}

.links button:hover,
.links .active{ 
    height: 40px;
    margin-top: -6px;
    top:-10px;
    background-color: rgba(235, 232, 222, 0.718);
    color: #514229;
}

.tabs{
    background-color: rgba(255, 252, 246, 0.349);
    height: 40vh;
    border-radius: 10px 0 10px 10px;
    padding: 20px 15px 0 15px;
    
}

.tabs a{
    text-decoration: none;
}

.link-container .link{
    color: #514229;
    text-align: end;
    background-color: rgba(235, 232, 222, 0.718);
    padding: 2vh;
    border-radius: 8px;
    font-size: 1.2rem;
    margin-bottom: 15px;
}
.inner-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

@media (max-width: 700px){
    .btns{
        padding: 30px 40px;
        align-items: center;
        gap: 30px;
    }
    h1{
        font-size: 1.6rem;
        padding-bottom: 10px;
    }
    .inner-welcome{
        order: -1;
    }
    .btns button{
        width: 160px;
        height: 70px;
        transition: .5s;
    }
    #logo{
        height: 40px;
    }
    .tabs{
        border-radius: 0 0 10px 10px;
    }
    .welcome, .mashaaer{
        flex-direction: column;
        height: 70vh;
    }
    nav{
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .place-title
    {
        font-size: 2.9rem;
        padding-bottom: 20px;
    }
    .place-mashaaer{
        padding-top: 2vh;
        font-size: 3.4rem;
    }

}
